input, input:focus {
    border: 1px solid #fff; 
    outline: none;
    padding-left: 20px;
    color: #fff;
}
  

.app-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app-section--image-program {
    background: linear-gradient(to top, rgba(65, 65, 65, .7), rgba(65, 65, 65, .7)), url(../../assets/our-program.png) no-repeat center/cover;
    height: 436px;
    max-width: 100%;
    color: white;
}
  
.app-title {
    font-size: 3.25rem;
    line-height: 3.20rem;
    text-align: center;
}

.app-subtitle {
    font-size: 1.50rem;
    line-height: 1.625rem;
    font-weight: 300;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif, Arial;
}

.data {
    display: flex;
    align-items: center;
    height: 40px;
}

.app-section__email {
    width: 400px;
    height: 36px;
    background: rgba(65, 65, 65, .7);
    border: none;
    margin-right: 29px;
}

.app-section__button {
    background-color: #195C71;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

.app-section__button--subscribe, .app-section__button--unsubscribe {
    border-radius: 18px;
    font-size: 14px;
    height: 36px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    width: 111px;
}

.app-section__button--unsubscribe {
    display: none;
    font-size: 12px;
}