.section-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.section-btn {
  width: 120px;
  height: 50px;
  padding: 17px;
  background-color: #fff;
  color: red;
  border: 2px solid red;
  position: absolute;
  right: 10%;
  top: 10%;
}

.section-btn:hover {
  background-color: red;
  color: #fff;
}


.app-title {
  font-size: 3.25rem;
  line-height: 3.20rem;
  text-align: center;
}

.app-subtitle {
  font-size: 1.50rem;
  line-height: 1.625rem;
  font-weight: 300;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif, Arial;
}

.app-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.app-feedback {
  display: flex;
  margin-bottom: 40px;
}

.app-section--feedback {
  background-color: #fff;
}

.app-feedback__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 315px;
  height: 400px;
  margin: 10px;
}

.app-feedback__item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.app-feedback__item--img {
  width: 150px;
  height: 150px;
}

.app-feedback__userName {
  text-transform: uppercase;
}